html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.section{
    margin-bottom: 150px;
}
body{
    font-weight: 500;
    font-size: 18px;
    color: #0C3E2E;
    font-family: "Inter", sans-serif;
}

.header {
    background-image: url(../imeges/Vector.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.conteiner {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__inner{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__top {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: 30px;
    margin: -17px;

}

.menu__link {
    text-transform: uppercase;
    color: #0C3E2E;
    font-size: 16px;
}
.phon {
    display: flex;
    color: #BB8A52;
    text-align: center;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    align-items: center;
    margin-top: 100px;
}
.header__text {
    max-width: 510px;

}
.header__text span{
    color: #CC2E2E;
}
.header__tatli {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin: 20px 0 80px;
    max-width: 428px;
}
.header__btn {
    font-weight: 400;
    font-size: 20px;
    padding: 20px 32px;
    margin-top: 50px;
    background-color: #FFBA00;
    display: inline-block;
    transform: all 5s;
}
.header__btn:hover{
    background-color: aliceblue;
    border: 1px solid #FFBA00;
}

.header__inner-text {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}
.main{
    background-image: url(../imeges/qwsaq.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;

}

.tatli {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 50px;
}
.abuot__innner {
    display: flex;
    gap: 22px;
    align-items: center;
    margin-bottom: 100px;
}

.abuot__text{
    max-width: 500px;
    margin-bottom: 30px;
}
.abuot__text span{
    font-size: 24px;
    font-weight: 400;
}
.abuot__tatli {
    font-size: 28px;
    margin-bottom: 30px;
}
.abuot__list {
    display: flex;
    color: #BB8A52;
    gap: 0 30px;
    text-align: center;
}
.abuot__list dd{
    margin: 0 auto;
}
.abuot__list dt{
    font-size: 48px;
    margin-bottom: 5px;
}
.why__text {
    max-width: 580px;
    font-size: 28px;
    margin-bottom: 40px;
}
.why__inner {
    display: flex;
    gap: 22px;
    align-items: center;
}
.why__inner-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 10px;
    
}
.why__inner-item::before{
    content: counter(my-counter);
    counter-increment: my-counter;
    padding-right: 5px;
}
.why__inner-item {
    font-size: 28px;
}
.why__inner-item + .why__inner-item{
    margin-top: 55px;
}
.why__inner-item.pl--60{
    padding-left: 60px;
}
.why__inner-item.pl--90{
    padding-left: 90px;
}

.tatli {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 50px;
}
.progect__text {
    margin-bottom: 30px;
    max-width: 595px;
    font-size: 28px;
}
.progects__galery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.galery--item{
    grid-area: span 2;
}

.progects__galery-text {
    text-align: center;
    padding: 20px 0;
}
.services {
    margin-bottom: 110px;
    padding: 20px 40px;
    background-image: url(../imeges/Rectangle\ 116.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.services__text {
    max-width: 587px;
    font-size: 28px;
    margin-bottom: 30px;
}
.service__list {
    padding: 0 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.service__item-text {
    padding-top: 20px;
    font-size: 24px;
}

.prlces__text {
    font-size: 28px;
    max-width: 729px;
    margin-bottom: 50px;
}
.prlces__box {
    display: flex;
    gap: 22px;
}
.prlces__list {
    border: 2px solid #FFBA00;
    padding: 60px 55px 88px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prlces__item-frest{
    font-size: 36px;
    color: #0C3E2E;
    margin-bottom: 40px;
    font-weight: 600;
}
.prlces__item {
    font-size: 24px;
    max-width: 442px;
    text-align: left;
    margin-bottom: 10px;
}
.prlces__item-sub{
    font-size: 36px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 94px;
    padding-top: 50px;
}
.prlces__item-sub sup{
    font-size: 15px;
    padding-bottom: 20px;
}
.prlces__btn {
    display: block;
    background-color: #FFBA00;
    padding: 20px;
    font-size: 20px;
}

.work__list {
    list-style: none;
    counter-reset: my-counter;
    padding: 0;
    max-width: 1056px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 15px;
}
.work__item{
    font-size: 28px;
    position: relative;
    line-height: 185px;
    padding-left: 64px;
}
.work__item::before {
    content: counter(my-counter,decimal-leading-zero);
    counter-increment: my-counter;
    font-size: 128px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(99, 170, 106, 0.1);
    font-weight: 400;
    letter-spacing: 12px;
    position: absolute;
    left: 0;
    -webkit-text-stroke: 1px rgb(109, 152, 115);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.tatli {
    margin-bottom: 50px;
}
.team__text {
    font-size: 28px;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
    justify-content: center;
    gap: 0 50px;
}
.taem__item {
    width: 200px;
}


.taem__name {
    padding: 10px 0 15px;
    text-align: center;
}
.questions {
    margin-bottom: 110px;
}

.acaudeon {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 22px;
}
.acordeon__item {
    margin-bottom: 40px;
}

.acordeon__tatli {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding-right: 70px;
    position: relative;
    width: 100%;
}
.acordeon__tatli::after{
    content: '';
    position: absolute;
    background-image: url(../imeges/line.svg);
    width: 15px;
    height: 26px;
    top: 3px;
    right: 40px;
}
.acordeon__descar {
    display: none;
}

.contact__form{
    margin-bottom: 150px;
}

.contact-form__inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.tatli {
    margin: 0;
}
.from__text {
    font-size: 28px;
    margin-bottom: 15px;
}

.form__texts {
    margin-bottom: 15px;
}
.input {
    max-width: 520px;
    width: 100%;
    display: inline-block;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #0C3E2E;
    padding: 5px 10px;
    margin-left: 28px;
    font-size: 24px;
    color: #0C3E2E;
    font-weight: 500;
    line-height: 1.2;
}
.form__input::placeholder{
    font-family: "Inter", sans-serif;
    color: #d9d9d9;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}
.form-btn {
    font-family: "Inter", sans-serif;
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    padding: 20px 41px;
    background-color: #FFBA00;
    border: none;
    cursor: pointer;
}
.form__link {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.form__link span{
    border-bottom: 1px solid #0C3E2E;
}
.img{
    margin-left: 30px;
}
.contact__form-imeges {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
}
.contact__form-img--mod{
    grid-column: 1 /-1;

}
.reviews__slider{
    padding-bottom: 50px;
}

.reviews__item {
    font-size: 24px;
}
.reviews__item-name {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.reviews__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.reviews__text {
    font-size: 24px;
}
.reviews__item-aroow{
    position: absolute;
    cursor: pointer;
}
.reviews__item-prev{
    left: 50%;
    transform: translateX(-65px);
}
.reviews__item-next{
    right: 50%;
    transform: translateX(65px);
}

.contacts__inner {
    display: flex;
    gap: 0 22px;
    padding-top: 50px;
}

.contacts__text {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 70px;
}
.contact__info {
    font-size: 20px;
}
.contact__info dt{
    margin-top: 20px;
}
.contact__info dd{
        margin: 0;
}

.footer {
    background-color: rgba(109,151,115,0.1);
    padding: 40px 0 47px;
}

.footer__inner {
    display: flex;
    gap: 0 22px;
}
.footer__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__menu {
    font-size: 20px;

}

.footer__menu-item {
    margin-bottom: 20px;
}

.soclol__list {
    display: flex;
    gap: 0 20px;
}

.footer__reght {
    width: 100%;
    padding-left: 30px;
}
.footer__logo-img{
    width: 140px;
    height: 90px;
    margin-bottom: 42px;
}

.footer__reght-text {
    font-size: 36px;
    font-weight: 600;
    max-width: 320px;
}
.header__btn-desctop{
    display: none;
}
.menu__burger{
    display: none;
}
.prodects__img{
    max-width: 100%;
}
@media (max-width: 1210px){
    .form{
        margin-left: 0;
        max-width: 470px;
    }
    .form-btn{
        width: 100%;
        max-width: 470px;
    }
    .abuot__img{
        width: 470px;
    }
    .why__img{
        max-width: 470px;
    }
}
@media (max-width: 1000px) {
    .section{
        margin-bottom: 100px;
    }
    .header__conteent-img{
        max-width: 470px;
    }
    .header__tatli{
        margin-bottom: 40px;
    }
    .header__content-btm{
        margin-top: 40px;
    }
    .tatli{
        margin-bottom: 30px;
    }
    .abuot__tatli{
        margin-bottom: 20px;
    }
    .abuot__text{
        font-size: 16px;
    }
    .abuot__text span{
        font-size: 20px;
    }
    .abuot__list dt{
        font-size: 36px;
    }
        .abuot__list dd{
        font-size: 14px;
    }
    .why__inner-list{
        font-size: 24px;
    }
    .why__inner-list{
        padding-left: 0;
    }
    .progects__galery{
        gap: 20px 10px;
    }
    .service__list{
        flex-wrap: wrap;
        padding: 0;
        gap: 0;
    }
    .service__item{
        width: 50%;
    }
    .work__item::before{
        font-size: 98px;
    }
    .work__item{
        font-size: 24px;
    }
    /* .team__list{
        gap: 20px 60px;
        flex-wrap: wrap;
    } */
    .contact__form-img--mob{
        display: none;
    }
    .contact__form-imeges{
        display: block;
    }
    .contact__form-img--mob2{
        width: 100%;
        height: 277px;
        object-fit: cover;
    }
    .contact__form-imeges{
        max-width: 470px;
    }
}
@media (max-width:870px) {
    .header__conteent-img{
        max-width: 370px;
    }
    .header__tatli{
        font-size: 28px;
        line-height: 30px;
    }
    .menu__burger{
        border: none;
        background-color: transparent;
        padding: 0;
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    .header__list{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        text-align: center;
        padding: 70px 0;
        z-index: 1;
        background-color: #9de3cf;
        transform: translatey(-120%);
        transition: all .3s;
    }
    .header__list.header__list-open{
        transform: translatey(0%);
    }
    .menu__link{
        padding: 15px 0;
        display: block;
    }
    .menu{
        order: -1;
    }
    .header{
        background-size: auto;
    }
    .why__img{
        max-width: 320px;
    }
    .team__list{
        gap: 20px 60px;
        flex-wrap: wrap;
    }
}
@media (max-width:840px){
    .abuot__innner{
        display: block;
    }
    .abuot__img{
        display: flex;
        max-width: 100%;
        margin: 0 auto 20px;
    }
    .abuot__text{
        max-width: 100%;
    }
    .abuot__list{
        justify-content: center;
    }
    .abuot__tatli{
        text-align: center;
    }
}
@media (max-width:768px) {
    .tatli{
        font-size: 28px;
    }
    .header__tatli{
        margin-bottom: 25px;
    }
    .header__inner-text {
        display: none;
    }
    .header__content-inner{
        display: block;
        text-align: center;
    }
    .header__text{
        margin: 0 auto;
    }
    .header__tatli{
        max-width: 100%;
    }
    .header__btn-desctop{
        display: inline-block;
    }
    .header__btn-mob{
        display: none;
    }
    .header__conteent-img{
        margin-top: 20px;
        max-width: 100%;
    }
    .why__text{
        font-size: 24px;
    }
    .why__inner-item{
        font-size: 18px;
    }
    .why__inner-item +.why__inner-item{
        margin-bottom: 40px;
    }
    .why__inner-item.pl--60{
        padding-top: 40px;
    }
    .why__inner-item.pl--90{
        padding-left: 74px;
    }
    .galery--item{
        display: none;
    }
    .progects__galery{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .progect__text{
        font-size: 24px;
    }
    .prlces__box{
        display: block;
    }
    .prlces__text{
        font-size: 24px;
    }
    .prlces__list{
        max-width: 468px;
    }
    .tatli{
        font-size: 28px;
    }
    .work__item::before{
        font-size: 64px;
    }
    .work__item{
        font-size: 18px;
        line-height: 90px;
    }
    .team__text{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .acordeon__tatli{
        font-size: 18px;
    }
}
@media (max-width: 640px){
    .why__text{
        font-size: 14px;
    }
    .why__inner-item{
        font-size: 14px;
    }
    .why__inner-item +.why__inner-item{
        margin-top: 10px;
    }
    .why__inner-item.pl--60{
        padding-top: 15px;
        margin-bottom: 15px;
    }
    .why__inner-item.pl--90{
        padding-top: 20px;
    }
    .why__img{
        max-width: 170px;
    }
    .why__inner{
        gap: 0;
    }
    .service__item-text{
        font-size: 20px;
    }
    .questions__acaudeon{
        display: block;
    }
}
@media (max-width: 500px) {
    .tatli{
        font-size: 24px;
    }
    .header__top{
        flex-wrap: wrap;
    }
    .logo{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .phon{
        order: -1;
    }
    .abuot__list dt{
        font-size: 28px;
    }
    .abuot__list dd{
        font-size: 16px;
    }
    .why__inner{
        gap: 0;
    }
    .why__inner-item::before{
        padding-left: 0;
    }
        .progects__galery{
        grid-template-columns: repeat(1, 1fr);
    }
    .prodects__img{
        width: 100%;
    }
    .progect__text{
        font-size: 18px;
    }
    .progects__galery-item:nth-child(3),
    .progects__galery-item:first-child{
        display: flex;
        flex-direction: column;
    }
    .progects__galery-item:nth-child(3) img,
    .progects__galery-item:first-child img{
        order: -1;
    }
    .services__text{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .service__item img{
        max-width: 100%;
    }
    .prlces__btn{
        margin-left: -10px;
        margin-right: -10px;
    }
    .prlces__item-frest{
        font-size: 24px;
    }
    .prlces__item{
        font-size: 18px;
    }
    .prlces__item-sub{
        font-size: 24px;
    }
    .footer__reght-text{
        font-size: 18px;
    }
    .footer__left{
        align-items: flex-start;
    }
    .footer__reght{
        padding-left: 20px;
    }

}
@media (max-width: 380px) {
        .header__btn-desctop{
        display: inline-block;
    }
}
@media (max-width:44533) {
    
}
@media (max-width:44533) {
    
}
@media (max-width:44533) {
    
}
@media (max-width:44533) {
    
}